/* Blue Gray Template CSS First Light Web Design 2007 */

body {font-size: 12px;
      font-family: "palatino linotype", "trebuchet ms", "times new roman";
      margin: 0;
      padding: 0;
      background: #F3F3F3 url(/jobs/images/background.png) repeat-x;
      color: #5B6973;
      text-align: center;} /* Needed to center layout in old IE browsers. */

acronym, abbr {cursor: help;
               border-bottom: 1px dotted;}

h1, h2, h3, h4, h5, h6, p {margin: 0 0 25px 0;
                           padding: 0;}

p {line-height: 160%;}

.justify {text-align: justify;}

ul {list-style-type: square;}

img {border: 0;
     margin: 0 0 25px 0;}

h1 {font-size: 26px;}
h2 {font-size: 24px;}
h3 {font-size: 22px;}
h4 {font-size: 20px;}
h5 {font-size: 18px;}
h6 {font-size: 16px;}

.bottom-border {border-bottom: 1px solid #D8D8D8;}

a {color: #F60; text-decoration: none; background-color: #F3F3F3;}
a:link {color: #F60; background-color: #F3F3F3;}
a:visited {color: #F60; background-color: #F3F3F3;}
a:hover {color: #4153AD; background-color: #F3F3F3;}

.right {float: right;}

.left {float: left;
       margin: 3px 5px 0 0;}

.clear-fix:after {content: ".";
                  display: block;
                  clear: both;
                  height: 0;
                  visibility: hidden;}

.clear-fix {display: inline-block;}

/* Hide from IE Mac \*/

.clear-fix {display:block;}

/* End hide from IE Mac */

#container {/*width: 780px;*/
            width: 93%;
            margin: 0 auto;
            text-align: left;}

#header {width: 100%;
         height: 147px;
         position: relative;}

#header h1 {margin: 0;}

#logo {position: absolute;
       left: 0;
       top: 36px;
       width: 281px;
       height: 31px;}

#logo img {display: block;}

#logo a {background: transparent;}

#setting {
	padding: 20px 30px 0 0;
	float: right;
}
#setting input {margin: 5px;}
#setting a {margin: 5px;}

/* Begin Search Form CSS */

#search {position: absolute;
         right: 0;
         top: 60px;}

#search input#s {margin-right: 5px;
                 vertical-align: middle;
                 border: 1px solid #6A7A86;
                 padding: 0.24em;
                 width: 135px;
                 background-color: #E4E4E4;
                 color: #6C7074;}

#search input#s:focus {background-color: #F3F3F3;
                       color: #6C7074;}

#search input#submit

{background: #6C7074 url(/jobs/images/search_background.png) repeat-x;
 color: #D8DCE0;
 border: 1px solid #515D67;
 vertical-align: middle;
 padding: 0.38em;
 font-size: 0.8em;}

/* End Search Form CSS */

/* Begin main navigation menu. */

#menu {width: 100%;
       height: 38px;
       clear: both;
       background: url(/jobs/images/button_end_gradient.png) center left no-repeat;
       position: relative;}

#menu ul {width: 100%;
          list-style-type: none;
          margin: 0;
          padding: 0;
          position: absolute;
          left: 2px;
          background: #6A7A86 url(/jobs/images/menu_background.png) repeat-x;
          color: #DCE0E4;}

#menu ul li {display: inline;}

#menu ul li a {text-decoration: none;
               height: 33px;
               padding: 0 17px;
               margin: 0;
               line-height: 30px;
               display: block;
               float: left !important;
               background: url(/jobs/images/button_end_gradient.png) center right no-repeat;
               color: #D8DCE0;
               font-size: 16px;
               font-weight: bold;}

#menu ul li a:hover {background: url(/jobs/images/button_end_gradient.png) center right no-repeat;
                     color: #FFF;}

/* End main navigation menu. */

/* Begin sub menu navigation */


#sub_menu {width: 100%;
           height: 15px;
           clear: both;
           background: url(/jobs/images/button_end_gradient.png) center left no-repeat;
           position: relative;}

#sub_menu ul {list-style-type: none;
              margin: 0;
              padding: 0;
              position: absolute;
              left: 10px;
              background: #6A7A86 url(/jobs/images/menu_background.png) repeat-x;
              color: #DCE0E4;}

#sub_menu ul li {display: inline;}

#sub_menu ul li a {text-decoration: none;
                   height: 18px;
                   padding: 0 40px;
                   margin: 0;
                   line-height: 17px;
                   display: block;
                   float: left !important;
                   background: url(/jobs/images/button_end_gradient.png) center right no-repeat;
                   color: #D8DCE0;
                   font-size: 12px;
                   font-weight: bold;}

#sub_menu ul li a:hover {background: url(/jobs/images/button_end_gradient.png) center right no-repeat;
                         color: #FFF;}

/* End sub menu navigation */

#wrapper {width: 100%;
          margin-top: 11px;
          padding: 0;} 

#left-column {width: 510px;
              float: left;
              padding: 0;
              margin: 0;}

#right-column {width: 240px;
               padding: 0;
               float: right;
               margin: 0;}

#login {width: 100px;
        float: left;
        padding: 20% 10% 0% 40%;
        margin: 0 auto;
        position: relative;}

p#intro {font-size: 24px;
         font-style: italic;
         margin: 0;}

#learn-more {width: 100%;}

#learn-more a img {display: block;
                   float: right;}

/* Sub-content section */

#sub-outer {width: 100%;
            clear: both;
            padding: 0;
            margin: 0;}

#sub-wrapper {float: left;
              width: 100%;}

#sub-center {margin: 0 270px;}

#sub-right {float: left;
            width: 240px;
            margin-left: -240px;}

#sub-left {float: left;
           width: 240px;
           margin-left: -780px;}

/* End sub-content section */

/* The footer is outside of the main container and has an extra 10px in width to compensate visually for the background shadows. */ 

#footer {width: 790px;
         height: 56px;
         margin: 0 auto;
         background: #F3F3F3 url(/jobs/images/footer_background.png) repeat-x;
         color: #5B6973;
         clear: both;
         text-align: left;
         padding: 0;
         position: relative;}

#footer-content {padding: 19px 15px;}

#footer-right {position: absolute;
               right: 0;
               top: 0;
               width: 15px;
               height: 56px;
               background: #F3F3F3 url(/jobs/images/footer_right.png) no-repeat;
               color: #5B6973;}

#footer-left {position: absolute;
              left: 0;
              top: 0;
              width: 15px;
              height: 56px;
              background: #F3F3F3 url(/jobs/images/footer_left.png) no-repeat;
              color: #5B6973;}

#footer p {margin: 0;}

#footer a {background: transparent;}

#footer-navigation {float: right;
                    margin: 0;}

/* Featured services */

.featured-wrapper {background: #6A7A86 url(/jobs/images/featured_background.png) repeat-y;
                   color: #DCE0E4;
                   width: 100%;
                   margin-bottom: 50px;}

.featured-content {padding: 0;
                   margin: -8px 0 0;
                   font-size: 14px;}

.featured-content ul {margin: 0;
                      padding: 0 0 10px 25px;
                      font-style: italic;
                      list-style-type: none;
                      line-height: 124%;}

.featured-content p {margin: 0;
                     padding: 0 10px 10px;
                     line-height: 125%;}

.featured-content a {background: transparent;}

.featured-content a img {padding: 0;
                         margin: 0;
                         display: block;}

.featured-top {width: 240px;
               height: 18px;
               background: #6A7A86 url(/jobs/images/featured_top.png) no-repeat;
               color: #DCE0E4;}

/* End Featured Services CSS */

/* Featured news */

.headline {margin: 0 0 5px;
           padding: 0;
           font-size: 12px;}

.date {color: #F60;
       background-color: #F3F3F3;
       float: right;}

.input {margin-right: 5px;
				 width: 170px;
                 vertical-align: middle;
                 border: 1px solid #6A7A86;
                 padding: 0.26em;
                 background-color: #E4E4E4;
                 color: #6C7079;}

.input:focus {background-color: #F3F3F3;
                       color: #6C7074;}


/* A single column division. Good for terms of use, privacy policy, etc. */

#single-column {width: 100%;
                clear: both;
                margin-top: 11px;
                padding: 0;}