<?xml version="1.0" encoding="UTF-8"?>
<bean:beans xmlns="http://www.springframework.org/schema/security" xmlns:bean="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans	 http://www.springframework.org/schema/beans/spring-beans.xsd
	 http://www.springframework.org/schema/security 	 http://www.springframework.org/schema/security/spring-security-2.0.1.xsd">

	<global-method-security secured-annotations="enabled">
	</global-method-security>

	<http auto-config="true">
		<port-mappings>
			<port-mapping http="9090" https="9443" />
		</port-mappings>
		<concurrent-session-control max-sessions="1" />
		
		<intercept-url pattern="/ws/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/css/**" access="IS_AUTHENTICATED_ANONYMOUSLY"  />
		<intercept-url pattern="/images/**" access="IS_AUTHENTICATED_ANONYMOUSLY" />
		<intercept-url pattern="/page/*.*"  access="IS_AUTHENTICATED_ANONYMOUSLY" />
		
		<intercept-url pattern="/page/**" access="ROLE_USER" />
		<remember-me user-service-ref="loginBean" />
		<anonymous/>
		<form-login login-page="/page/login.jsf" login-processing-url="/j_spring_security_check" default-target-url="/page/main.jsf"/>
		<logout logout-url="/page/login.jsf?logout=1" /> 
	</http>
	
	<authentication-provider user-service-ref="loginBean">
	</authentication-provider>
	
	<bean:bean id="loggerListener" class="org.springframework.security.event.authentication.LoggerListener" />
</bean:beans>